body {
    background: rgb(18, 18, 18);
    align-items: center;
}

::-webkit-scrollbar {
    background: rgb(18, 18, 18);
      border-radius: 100px;
nav-down: none;
  }

  ::-webkit-scrollbar-button {
    background: rgb(18, 18, 18);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-corner {
    background: rgb(18, 18, 18);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(18, 18, 18);
    border-radius: 100px;
}

::-webkit-scrollbar-track-piece {
    background: rgb(18, 18, 18);
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: rgb(18, 18, 18);
    border-radius: 100px;
}
 
::-webkit-search-cancel-button {
    background: rgb(18, 18, 18);
    border-radius: 100px;
}